{%  extends "base.html" %}

{% block title %}
Ti_Point-Ti_Croix
{%  endblock %}

{% block style %}
<!--<link rel="stylesheet" href="/static/CSS/connect.css">-->
    
{%  endblock %}

{%  block content %}
<div class="row" style="height: 67vh;">
  <div class="col-2 border border-dark">
    <div style="font-size:3ch">
      <br>
      <br>
      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:2vw;margin-top: 5vh" href="http://localhost:8000/tipointticroix">Jouez contre la machine!</a>
      </div> 
      <br>
      <br>
      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:2vw;margin-top: 5vh" href="http://localhost:8000/tipointticroix">Jouez sur internet!</a>
      </div> 
      <br>
      <br>
      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:2vw;margin-top: 5vh" href="http://localhost:8000/tipointticroix">Statistiques</a>
      </div> 
    </div>
  </div>
  <div class="col-8" style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
    font-size: 1vw;margin-top: 4vh">
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
       labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis cras sed felis eget. 
       Interdum velit euismod in pellentesque massa placerat. Convallis convallis tellus id 
       interdum velit laoreet id donec. Ac ut consequat semper viverra. Phasellus faucibus
       scelerisque eleifend donec pretium vulputate sapien. Libero volutpat sed cras ornare arcu
       dui. Nulla at volutpat diam ut venenatis tellus in metus. Rhoncus mattis rhoncus urna
       neque viverra. Lectus quam id leo in vitae turpis massa sed. Eu ultrices vitae auctor eu
       augue. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Porttitor rhoncus
       dolor purus non enim praesent elementum facilisis leo. Aliquet enim tortor at auctor urna
       nunc id cursus metus. Orci ac auctor augue mauris augue neque. Ullamcorper sit amet risus
       nullam eget felis. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
       Venenatis urna cursus eget nunc scelerisque.</p>
       
       
    <p align="justify">Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Dignissim enim sit
      amet venenatis urna cursus eget. Tellus mauris a diam maecenas sed enim. Mattis rhoncus urna
      neque viverra justo nec ultrices dui sapien. Senectus et netus et malesuada fames. Aliquet
      sagittis id consectetur purus ut faucibus pulvinar. Non enim praesent elementum facilisis
      leo. Adipiscing diam donec adipiscing tristique risus nec feugiat in. Convallis aenean et
      tortor at. Cras pulvinar mattis nunc sed blandit libero volutpat. Volutpat ac tincidunt vitae
      semper quis lectus nulla.</p>
         
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis cras sed felis eget. 
      Interdum velit euismod in pellentesque massa placerat. Convallis convallis tellus id 
      interdum velit laoreet id donec. Ac ut consequat semper viverra. Phasellus faucibus
      scelerisque eleifend donec pretium vulputate sapien. Libero volutpat sed cras ornare arcu
      dui. Nulla at volutpat diam ut venenatis tellus in metus. Rhoncus mattis rhoncus urna
      neque viverra. Lectus quam id leo in vitae turpis massa sed. Eu ultrices vitae auctor eu
      augue. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Porttitor rhoncus
      dolor purus non enim praesent elementum facilisis leo. Aliquet enim tortor at auctor urna
      nunc id cursus metus.</p>

    <p align="justify">In mollis nunc sed id semper risus in hendrerit. Sit amet mauris commodo quis imperdiet
      massa tincidunt nunc. Sagittis purus sit amet volutpat consequat. Ultricies mi eget mauris
      pharetra et ultrices neque. Donec massa sapien faucibus et molestie ac. Nullam non nisi est
      sit amet facilisis magna etiam. Et netus et malesuada fames ac turpis egestas maecenas. Ac 
      auctor augue mauris augue neque gravida. Diam volutpat commodo sed egestas egestas fringilla
      phasellus faucibus scelerisque. Quisque non tellus orci ac auctor augue.</p>
          </div>
          <div class="col-2 border border-dark text-center" style="font-family: 'Pacifico', cursive;
          font-weight: 400;font-style: normal;font-size: 2vw">
          GOODIES
        </div>
      </div>


{%  endblock %}