<!DOCTYPE html>
{%  extends "baseportrait.html" %}

{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}

{% block meta %}
<meta name="Ti-point_Ti-croix" content="Découvrez le jeu Ti-point_Ti-croix version antillaise du 
  Gomoku Chinois.">
{%  endblock %}

{% block style %}
<!--<link rel="stylesheet" href="/static/CSS/connect.css">-->
    
{%  endblock %}


{%  block content %}
  <div class="col-12">
    <div style="display:flex;justify-content: space-between;font-size:1.8vh">

      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:1vw;margin-top: 5vh" 
        href="{% url 'jeu' %}">Joue contre l'ordinateur</a>
      </div> 
      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:1vw;margin-top: 5vh" href="{% url 'internet' %}">
        Joue sur internet</a>
      </div> 
      <div>
        <a style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        margin-left:1vw;margin-top: 5vh" href="{% url 'statistics' %}">
        Statistiques</a>
      </div> 
    </div>
  </div>
  <div class="col-12" style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
    font-size: 1.7vh;margin-left:2vw">
    <br>
    <p align="justify">« Ti-point-Ti_croix » est un jeu qui tire son origine des écoles antillaises 
      où il a passionné des générations de jeunes élèves. Il s’apparente au « Gomoku » chinois 
      dont il est certainement issu et au « Five in à row » anglo-saxon. A noter que le « Gomoku » 
      est joué depuis au moins la période des Han (206 av. J.-C). C’est une variation beaucoup plus 
      complexe du jeu de « Morpion » ou « Tic-Tac-Toe » pour les anglo-saxons qui se joue avec une 
      grille 3x3.</p>
    <p align="justify">Le but du jeu est d'être le premier à aligner cinq symboles 
      horizontalement, verticalement ou en diagonale. Le matériel consiste en une feuille de cahier quadrillée et 2 stylos.</p>
    <p align="center"><b><u>Règles de base :</u></b></p>
    <p align="justify"><b>Début du jeu :</b> Le jeu commence sur une grille vide. Traditionnellement, les 
      joueurs décident qui commence en tirant au sort ou par une autre méthode équitable.</p>
    <p align="justify"><b>Tour de jeu :</b> Les joueurs jouent chacun leur tour en plaçant un pion de 
        leur couleur sur une intersection de la grille.</p>
    <p align="justify"><b>Condition de victoire :</b> Le premier joueur qui aligne cinq de ses pions de 
      manière consécutive en ligne droite, horizontalement, verticalement ou en diagonale, gagne la 
      partie.</p>
    <p align="center"><b><u>Astuces :</u></b></p>
    <p align="justify"><b>Créer des menaces doubles :</b> Essayez de positionner vos pions de manière à 
      créer deux alignements potentiels en même temps. Cela force l'adversaire à bloquer une menace,
       ce qui peut vous laisser une ouverture pour gagner avec l'autre.</p>
    <p align="justify"><b>Bloquer les menaces de l'adversaire :</b> Surveillez constamment les mouvements
        de votre adversaire et bloquez ses alignements avant qu'il n'atteigne cinq pions consécutifs
        . Il est crucial de bloquer à temps et de ne pas laisser des opportunités se développer.</p>
    <p align="justify"><b>Utiliser les alignements de trois et quatre :</b> Un alignement de trois pions 
      (sans être bloqué aux extrémités) peut évoluer en quatre, puis en cinq. Un alignement de 
      quatre pions est particulièrement dangereux car il ne nécessite qu'un seul pion supplémentaire
      pour gagner.</p>
    <p align="justify"><b>Éviter les mouvements prévisibles :</b> Variez vos stratégies en evitant 
      les mêmes schémas, car un adversaire expérimenté pourrait anticiper vos mouvements et les 
      contrer.</p>
    <p align="justify"><b>Jouer défensif et offensif :</b> Trouvez un équilibre entre attaque et 
      défense. Trop d'attaque vous rend vulnérable, tandis que trop de défense limite vos chances de
       gagner.</p>
    <p align="justify"><b>Reconnaître les motifs gagnants :</b> Apprenez à identifier rapidement les 
      motifs qui mènent à la victoire, comme les "ponts" (deux pions avec un espace entre eux), les 
      "sauts" (trois pions avec un espace au milieu), et les "fourchettes" (deux alignements de 
      trois qui se rejoignent).</p>
  </div>
{%  endblock %}
{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.screen.orientation.addEventListener("change", function() {
      alert("Orientation change detected");
      document.location.href='/'
    });
  }) 
</script>
{% endblock %}