{%  extends "base.html" %}

{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Motivations du développeur du jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}
    
{%  endblock %}

{%  block content %}
    <div class="col-2 border border-dark ml-3" style="font-family: 'Pacifico', cursive;
        font-weight: 400;font-style: normal">
        <div id="x-board">
            <div>
                <a  id="btn-quitter2" class="btn btn-0" type="button" style="width: 20vh;
                        font-size: 1.2vw;margin-left: 2vw;background-color: rgb(0, 208, 255);
                        margin-top: 10vh" href="{% url 'accueil' %}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
    <div class="col-8 row" id="id-propos" style="font-family: 'Pacifico', cursive;font-weight: 400;
        font-style: normal;font-size:1.8vh m-0">
        <div style="font-size: 0.9vw;">
            <h1 style="font-size: 1.5vw;text-align: center" align="center">A PROPOS</h1> 
            <p align="justify">Je suis développeur depuis mes jeunes années. J’ai pratiqué 
                l’informatique de gestion jusqu’à mon depart à la retraite en avril 2023. Je n’avais
                 alors abordé le monde d’internet qu’a travers des outils comme lotus notes ou 
                 l’atelier de génie logiciel windev/windev mobile/webdev. Cela m’a frustré quelque 
                 part de ne pas avoir utilisé ces nouvelles technologie d’internet. Frustration qui
                  m’a mené à me lancer dans une formation en ligne de Développeur d'application 
                  Python.</p>
            <p align="justify">À la suite de l’obtention de mon diplôme de Bachelor Développeur 
                d'application Python (diplôme d'état de niveau licence), il m’a été conseillé de 
                développer un site à l’attention de futurs employeurs comme un démonstrateur des 
                différentes compétences acquises au cours de ma formation.</p>
            <p align="justify">ti_points-ti_croix.fr est donc l’expression de mes connaissances en 
                matière de conception/développement de solutions digitales.</p>
            <p align="justify">Voici la liste des principales compétences utilisées à l’élaboration 
                du site.</p>
            <p align="justify">Pour le front-end :</p>
            <p align="justify">- HTML, CSS, JAVASCRIPT</p>
            <p align="justify">Pour le back-end :</p>
            <p align="justify">Python/Django, Node.js (serveur de websocket)</p>
            <p align="justify">Pour les bases de données :</p>
            <p align="justify">- Mysql</p>
            <br>
            <p align="justify">Je suis disponible pour toute collaboration tant pour la conception 
                de site applicatif tel que https://ti-points-ti-croix.fr/ que pour des sites 
                marchands.</p>
        </div>
    </div>
    
{%  endblock %}

{%  block script %}
{%  endblock %}