{%  extends "base.html" %}

{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Connectez-vous sur le site du jeu Ti-point_Ti-croix.">
{%  endblock %}
{% block style %}
{%  endblock %}

{%  block content %}
<div class="col-10 border border-dark" style="font-family: 'Pacifico', cursive;
    font-weight: 400;font-style: normal">
    <div style="height: 10vh;"></div>
    <h4 style="text-align: center;margin-left:5vw">Vous n'avez pas encore de compte,
        <a href="{% url 'preregister' %}">
            <span text-center>Inscrivez-vous!</span></a>
    </h4>
    <h1 style="text-align: center;margin-left: 5vw">Connexion</h1>
    <h6 class="texterror text-center" style="color: red">{{ errorLogin }}</h6>
    <div style="height: 5vh;"></div>
    <form  class="justify-content-center" method="post">
        {% csrf_token %}
        <div class="row" style="font-size: larger;">
            <br>
            <div class="col-4"></div>
            <p class="col-4 row">
                <label class="col-3" for="id_email">Email:</label>
                <input class="col-9" type="text" name="email" maxlength="150" id="id_email" required>
            </p>
            <div class="col-4"></div>
            <br>
            <div class="col-4"></div>
                <p class="col-4 row">
                    <label class="col-3" for="id_password">Password:</label>
                    <input class="col-9" type="password" name="password" maxlength="64"
                        id="id_password" 
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least
                    8 or more characters" required>
                    <a class="col-8"></a>
                    <a class="col-4" style="font-size:0.8vw" href="{% url 'prepassword' %}">
                            <span text-center>Mot de passe oublié</span></a>
                    
                </p>
                <br>
            <div class="col-4"></div>
            
            <div class="col-5"></div>
            <div class="col-5">
                <div style="height: 4vh"></div>
                <button class="btn btn-5" style="width: 8vw;background: rgb(0, 208, 255);margin-right:1vw"
                    type="button" id="cancel">Annuler</button>
                <button class="btn btn-5" style="width: 8vw;background: rgb(0, 208, 255);margin-right:5vw" 
                    type="submit">Se connecter</button>
            </div>
        </div>
    </form>
</div>
{%  endblock %}
{%  block script %}
<script>
    document.getElementById("cancel").addEventListener('click', function(e) {
        e.preventDefault()
        document.location.href="{% url 'tipointticroix' %}"
    })  
</script>    
{%  endblock %}
