<!DOCTYPE html>
{%  extends "basepaysage.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Jouez sur internet à Ti-point_Ti-croix version antillaise du 
    Gomoku Chinois.">
{%  endblock %}
{% block style %}
{%  endblock %}
{%  block lateralgauche %}
{%  load static %}
<div class="border border-dark ml-3" style="font-family: 'Pacifico', cursive;min-width:5vw;
    font-weight: 400;font-style: normal;width:100%;height:100%">
    <div align="center" style="font-family: 'Pacifico', cursive;font-size:4vh;
    font-weight:400;font-style: normal;margin-top:0">Ti_Point-Ti_CroixH</div> 
    <div class="text-center" style="font-size: 1vw">JOUER SUR INTERNET</div>
    <div id="x-jouer" style="margin-top: 1vh;">
        <div style="display:flex-block;justify-content:center;width:100%;font-size:2vh">
            <p class="text-center m-0" align="center">JOUEURS</p>
            <div style="font-size:1vw;border:solid;width:100%;height:25vh;overflow-y:auto;margin-top:0">
                <ul class="userconnecteds" id="id_userconnecteds" >
                    
                </ul>
            </div>            
            <div style="font-size:1vw">
                <p class="text-center" align="justify">
                    Cliquez sur le nom d'un joueur pour lui demander de jouer avec vous.
                    Une partie se déroule en 2 manches. les 2 joueurs debutant chacun une manche.
                </p>
            </div>
        </div>
    </div>
    <div id="x-board">
        <div style="margin:0;">
            <label style="font-size: 2vw;">Match : {{ match }}/2</label>
          </div>
          <div style="margin:0">
              <label  style="font-size:1.5vw;color:blue;margin:0">{{ premier }} O : 
                  <span style="font-size:2vw">{{ score1 }}</span>
              </label>
        </div>
        <div style="margin:0">
            <label style="font-size:1.5vw;color:red;margin:0">{{ second }} X :
                <span style="font-size:2vw">{{ score2 }}</span>
            </label>
          </div>
          <div class="row" style="margin:0">
            <div class="col-5" style="margin:0">
                <label style="font-size: 1.2vw;margin:0">Tour :</label>
                <label style="font-size:2vw;margin:0" id="nb-tour" type="number">{{ nbtour }}</label>
            </div>
            <div class="col-7" style="margin:0">
                <label id="AVOUS" style=" font-size:1vw;color:blue;;margin:0">A VOUS DE JOUER</label>
                <label id="ALUI" style="font-size:1vw;color:red;margin:0">A LUI DE JOUER</label>
                <label id="victoire" style="font-size:1vw;color:blue;;margin:0">VOUS AVEZ GAGNE</label>
                <label id="defaite" style="font-size:1vw;color:red;;margin:0">VOUS AVEZ PERDU</label>
            </div>
          </div>         
    </div>
    <div id="joystick"  style="width:100%;display:none;font-family: 'Pacifico', cursive;
        font-weight:400;font-style:normal">
        <div style="text-align: center;font-size:3vh;margin:0;height:2vh">Position et validation du coup</div>
        <div id="id-haut" style="height:8vh;width:100%;display:flex;justify-content:center;
            margin:1vh">
            <img  src="{% static 'images/haut.png' %}"
            style="height:8vh;width:8vh;margin: 1vh;">
        </div>
        <div style="height:8vh;width:100%;display:flex;justify-content:center;margin: 1vh;">            
                <img id="id-gauche" src="{% static 'images/gauche.png' %}"
                style="height:8vh;width:8vh;margin:0.5vh">
                <img id="id-validation" src="{% static 'images/validation.png' %}"
                style="height:8vh;width:8vh;margin:0.5vh">
                <img id="id-droite" src="{% static 'images/droite.png' %}"
                style="height:8vh;width:8vh;margin:0.5vh">
            
        </div>
        <div style="height:8vh;width:100%;display:flex;justify-content:center;margin: 1vh;">
            <img id="id-bas" src="{% static 'images/bas.png' %}"
            style="height:8vh;width:8vh">
        </div>
    </div>
    <div hidden>
        <form id="internet" method="post">
            {% csrf_token %}
            <input id="orientation" name="orientation" type="text" value="{{ orientation }}">
            <input id="debut" name="debut" type="text" value="Non">
            <input type="text" name="etape" id="id-etape" value="{{ etape }}">
            <input type="text" name="jeton" id="id-jeton" value="{{ jeton }}">            
            <input type="text" name="joueur" id="id-joueur" value="{{ joueur }}">            
            <input type="text" name="premier" id="id-premier" value="{{ premier }}">            
            <input type="text" name="second" id="id-second" value="{{ second }}">            
            <input type="text" name="adversaire" id="id-adversaire" value="{{ adversaire }}">                            
            <input id="id-match" type="text" name="match" value="{{ match }}">                            
            <input id="id-score1" type="number" name="score1" value="{{ score1 }}">                            
            <input id="id-score2" type="number" name="score2" value="{{ score2 }}">                            
            <label id="id-begin" type="text">{{ begin }}</label>                            
            <input name="coupjoueur" id="coup-joueur" type="text">
            <input name="charger" id="id-charger" type="text">
            <label for="id-sequence">Coups joués</label>
            <input name="sequence" id="id-sequence" type="text" value="{{ sequence }}">        
            <input id="id-pat" name="pat" value="{{ pat }}">                        
            <input id="id-finpartie" name="finpartie" type="text" value="{{ finpartie }}">                        
            <input id="id-finmanche" name="finmanche" type="text" value="{{ finmanche }}">                        
            <input id="id-victoire" name="victoire" type="text" value="{{ victoire }}">                        
            <input id="id-defaite" name="defaite" type="text" value="{{ defaite }}">
        </form>
    </div>
    <div>
        <p align="center" style="margin-top:1vh"><span id="id-bandeau" align="center"
            style="font-size:1.6vw;color:red;font-weight:bolder;margin:0%;background-color:blue;"
            ></span></p>
    </div>
    <button class="btn btn-0" id="btn-quitter" type="button" style="width: 100%;
            font-size:1.2vw;;height:7vh;background-color:rgb(0, 208, 255)">
            Retour à l'accueil
    </button>
</div>
{%  endblock %}
{%  block content %}
<div  id="id_table" >
    <div class="cadre" style="display:flex;justify-content:center;width:100%">
             
        <table id="table" style="width:100vh">
        </table>
    </div>
</div>
    
{%  endblock %}
{%  block script %}
    
    <script src="{% static 'JS/internet.js'%}"></script>
    
{%  endblock %}