{%  extends "base.html" %}

{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="mentions légales du site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}
    
{%  endblock %}

{%  block content %}
    <div class="col-2 border border-dark ml-3" style="font-family: 'Pacifico', cursive;
        font-weight: 400;font-style: normal">
        <div id="x-board">
            <div>
                <a  id="btn-quitter2" class="btn btn-0" type="button" style="width: 20vh;
                    font-size: 1.2vw;margin-left: 2vw;background-color: rgb(0, 208, 255);
                    margin-top: 10vh" href="{% url 'accueil' %}">Retour à l'accueil</a>
            </div>
            
        </div>
    </div>
    <div class="col-8 row text-center" id="id-propos" style="font-family: 'Pacifico', cursive;font-weight: 400;
        font-style: normal;font-size:2vh m-0">
        <div style="font-size: 0.9vw;">
            <h1 style="font-size: 1.6vw;text-align: center">MENTIONS LEGALES</h1>
            <h2 style="font-size: 1vw;text-align: center">ĖDITEUR</h2>
            <p align="justify">Le site ti_points-ti_croix.fr est édité à titre non professionnel au
                sens de l’article 6.III.2 de la loi 2004-575 du 21 juin 2004 par :</p>
            <p align="justify">Bruno YERRO, Directeur de publication</p>
            <p align="justify">Adresse : 128 chemin Colombo, Belle-Ėtoile 97212 Saint-Joseph</p>
            <p align="justify">E-mail : brunoyerro@gmail.com</p>
            <h2 style="font-size: 1vw;text-align: center">HĖBERGEUR</h2>
            <p align="justify">L’hébergement du site est assuré par : HOSTINGER opérations, UAB</p>
            <p align="justify">Siège social : Švitrigailos str. 34, Vilnius 03230 Lithuania</p>
            <p align="justify">Téléphone : +37064503378</p>
            <p align="justify">E-mail : domains@hostinger.com</p>
            <h2 style="font-size: 1vw;text-align: center">PROPRIĖTĖ INTELLECTUELLE</h2>
            <p align="justify">L’éditeur est seul titulaire des droits de propriété intellectuelle
                ou droits d’exploitation sur l’ensemble du site, sa structure et son contenu y
                compris notamment les textes, images, photographies, illustrations, logos, vidéos,
                base de données et logiciel. Toute représentation, reproduction, adaptation, modification ou 
                exploitation non autorisée est interdite et susceptible de constituer une 
                contrefaçon au sens des articles L.335-2 et suivants du code de la propriété 
                intellectuelle.</p>
                <h2 style="font-size: 1vw;text-align: center">DONNĖES PERSONNELLES</h2>
                <p align="justify">L’éditeur du site s’engage à mettre en œuvre un traitement de données
                    personnelles respectueux de la vie privée et conforme à la législation française et
                    européenne en vigueur. Il n’est prévu aucun autre usage des données personnelles de 
                    l’utilisateur que de permettre la connexion identifiée au site afin de compiler des 
                    statistiques de l’utilisateur à son seul usage. <a style="text-align: left;
                    font-size:1.2vw" href="{% url 'desinscription' %}"
                     id="id_desinscription">
                    Désinscription</a></p>
                
                <h2 style="font-size: 1vw;text-align: center">COOKIES</h2>
            <p align="justify">Il n’est pas fait usage de cookies sur ce site.</p>
        </div>
    </div>
    
{%  endblock %}

{%  block script %}
<script>
    document.getElementById("id_desinscription").addEventListener('click', function(e){
        e.preventDefault()
        if (document.getElementById("id-deconnexion").style.display=="none") {
            alert("vous devez être connecté pour vous désinscrire")
        } else {
            document.getElementById("")
            document.location.href='/desinscription'
        }
    })
</script>
{%  endblock %}