{%  extends "base.html" %}

{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="mentions légales du site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}
    
{%  endblock %}

{%  block content %}
    <div class="col-2 border border-dark ml-3" style="font-family: 'Pacifico', cursive;
        font-weight: 400;font-style: normal">
        <div id="x-board">
            <div>
                <a  id="btn-quitter2" class="btn btn-0" type="button" style="width: 20vh;
                    font-size: 1.2vw;margin-left: 2vw;background-color: rgb(0, 208, 255);
                    margin-top: 10vh" href="{% url 'accueil' %}">Retour à l'accueil</a>
            </div>
            
        </div>
    </div>
    <div class="col-8 row text-center" id="id-propos" style="font-family: 'Pacifico', cursive;font-weight: 400;
        font-style: normal;font-size:1.8vh m-0">
        <div>
            <h1 style="font-size: 2vw;text-align: center">MENTIONS LEGALES</h1>
            <h2 style="font-size: 1vw;text-align: center">ĖDITEUR</h2>
            <p align="justify">Le site ti_points-ti_croix.fr est édité à titre non professionnel au
                sens de l’article 6.III.2 de la loi 2004-575 du 21 juin 2004 par :</p>
            <p align="justify">Bruno YERRO</p>
            <p align="justify">Adresse : 128 chemin Colombo, Belle-Ėtoile 97212 Saint-Joseph</p>
            <p align="justify">Téléphone : +596696732666</p>
            <p align="justify">E-mail : brunoyerro@gmail.com</p>
            <p align="justify">Directeur de publication : Bruno YERRO</p>
            <p align="justify">Nunc sed elit nulla. Nam sit amet aliquam purus. Fusce eget luctus urna.
             Interdum et malesuada fames ac ante ipsum primis in faucibus. In accumsan feugiat 
             condimentum. Vivamus eget semper est, vel pretium tellus. Pellentesque tincidunt ex erat, 
             nec viverra sem mattis eu. Curabitur faucibus magna vel mollis maximus. Aliquam semper 
             libero magna, eget placerat libero tempor vel. Sed at quam a risus ornare rutrum.</p>
             <p align="justify">Integer at nunc diam. Fusce dui est, mollis sed nunc id, euismod egestas
                 ex. Nam ac molestie magna. Nulla facilisi. Nulla ac felis viverra, fermentum ex 
                 accumsan, placerat dolor. Proin eu turpis ultricies, mattis leo ut, pulvinar magna. Sed
                  ultricies nunc ac enim semper consequat. Nunc felis magna, luctus ac cursus vitae, 
                  porta id turpis. Fusce ut neque tortor. Aenean diam tellus, gravida at fringilla eu, 
                  tincidunt id velit. Aliquam erat volutpat.</p>
        </div>
    </div>
    
{%  endblock %}

{%  block script %}
{%  endblock %}