<!DOCTYPE html>
{%  extends "baseportrait.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Modifier votre mot de passe sur le site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/form.css'%}">
{%  endblock %}
{%  block content %}
    <div class="border border-dark" style="font-family: 'Pacifico', cursive;font-weight: 400;font-style: normal;
        font-size: 1.6vh;margin-left:2vw;height:74vh;width:96%;">
        <div style="height: 1vh;"></div>
        <h1 class="text-center">Modification du mot de passe</h1>
        <div style="height: 5vh;"></div>
        <h4 class="texterror text-center" style="color: red">{{ errorinscription }}</h4>
        <form id="grille"  class="justify-content-center" method="post" autocomplete="off">            
            {% csrf_token %}
            <div hidden>
                <input id="orientation" name="orientation" type="text" value="{{ orientation }}">
                <input id="rotation" name="rotation" type="text" value="Non">
            </div>
            <div class="row" style="font-size: 1.6vh;display:flex;justify-content:center">
                <p class="col-8 row">
                    <label class="col-6" for="id_email">Email:</label>
                    <input class="col-6" type="email" name="email" maxlength="64" required 
                        value="{{ email }}" id="id_email" readonly>
                </p>
                <div class="col-4"></div>
                <p class="col-8 row">
                    <label class="col-6" for="id_verification">Verification:</label>
                    <input class="col-6" type="text" name="verification" maxlength="64" 
                    required="" id="id_verification">
                </p>
                <div class="col-4" style="font-size:1.4vh">
                    <span> code de vérification qui vous  été envoyé par email</span>
                </div>
                <p class="col-8 row">
                    <label class="col-6" for="id_password">Password:</label>
                    <input class="col-6" type="password" name="password" maxlength="64" 
                        id="id_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase 
                        letter, and at least 8 or more characters" value="{{ password }}" required>
                </p>
                <div class="col-4"></div>
                <p class="col-8 row">
                    <label class="col-6" for="id_confirm_password">Confirmer Password:</label>
                    <input class="col-6" type="password" name="confirm_password" maxlength="64" 
                    required="" id="id_confirm_password" style="height:4vh">
                </p>
                <div class="col-4"></div>   
            </div>
            <div style="width:100%;display:flex;flex-direction:column;align-items:center">
                <button class="btn btn-5 col-6" type="submit" style="width: 100%;font-size:4vw;
                background: rgb(0, 208, 255);margin-top:2vh">Enregistrer</button>
            </div>
        </form>
            <div id="message" style="font-size:1.5vh;margin-top:1vh">
              <h3 class="text-center">Le mot de passe doit contenir :</h3>
                <div class="row" style="font-size:1.5vh;width:100%;;margin-left:1.5vh">
                    <p id="letter" class="invalid col-3">Une <b>minuscule</b></p>
                    <p id="capital" class="invalid col-3">Une <b>majuscule</b></p>
                    <p id="number" class="invalid col-3">Un <b>chiffre</b></p>
                    <p id="length" class="invalid col-3">Au moins <b>8 caracteres</b></p>
                </div>
            </div>
    </div>

{%  endblock %}
{%  block script %}    
    <script src="/static/JS/registerform.js"></script>
    <script>
        window.screen.orientation.addEventListener("change", function() {
        document.getElementById("rotation").value="Oui"
        if (window.innerWidth > window.innerHeight) {
            document.getElementById("orientation").value="paysage"
        } else {
            document.getElementById("orientation").value="portrait"
        }
        document.forms["grille"].submit();
    }); 
    </script>
{%  endblock %}
