<!DOCTYPE html>
{%  extends "basepaysage.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Modifier votre mot de passe sur le site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/form.css'%}">
{%  endblock %}
{% block lateralgauche %}
<div style="font-family:'Raleway', cursive;font-weight:400;font-style:normal">
    <div style="display:flex">
        <img class="logo" id="id_logo" src="{% static 'icons/morpion.png' %}" 
            style="height: 4vw;width:4vw">
        <p align="center" style="font-family: 'Pacifico', cursive;font-size:1.8vw;
        font-weight:800;font-style: normal;margin-left:1vh">Ti_Point-Ti_Croix</p>
      </div>  
    <div style="width:100%;display:flex;flex-direction:column;align-items:center;margin-top:20vh">
        <a  align="center" id="btn-quitter2" class="btn btn-0" type="button" style="width:30vh;
                    font-size:3vh;background-color:rgb(0, 208, 255)" href="{% url 'accueil' %}"
                    >Retour à l'accueil</a>
    </div>
</div>
{%  endblock %}
{%  block content %}
    <div class="col-12 border border-dark" style="font-family: 'Raleway', cursive;
        font-weight: 400;font-style: normal;font-size:2vw;height:100%;width:100%">
        <h1 class="text-center" style="text-align: center;font-size:2vw;margin-top:4vh"
        >Modification du mot de passe</h1>
        <h4 class="texterror text-center" style="color: red">{{ errorinscription }}</h4>
        <div style="height: 1vh;"></div>
        <form  id="grille" class="justify-content-center" method="post" autocomplete="off">            
            {% csrf_token %}
            <div hidden>
                <input id="orientation" name="orientation" type="text" value="{{ orientation }}">
                <input id="rotation" name="rotation" type="text" value="Non">
            </div>
            <div class="row" style="font-size:2vw;display:flex;justify-content:center">
                <br>
                <p class="col-8 row">
                    <label class="col-6" for="id_email" style="font-size:1.4vw">Email:</label>
                    <input class="col-6" type="text" name="email" maxlength="150" id="id_email"
                    style="font-size:1.4vw" required value="{{ email }}">
                </p>
                <div class="col-4"></div>
                <p class="col-8 row">
                    <label class="col-6" for="id_verification" style="font-size:1.4vw">
                        Verification:</label>
                    <input class="col-6" type="text" style="font-size:1.4vw" name="verification"
                        maxlength="64" required id="id_verification">
                </p>
                <div class="col-4" style="font-size:1.4vw">
                    <span> code de vérification qui vous  été envoyé par email</span>
                </div>
                <p class="col-8 row">
                    <label class="col-6" for="id_password" style="font-size:1.4vw">Password:</label>
                    <input class="col-6" type="password" name="password" maxlength="64" 
                        id="id_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase 
                        letter, and at least 8 or more characters" value="{{ password }}" required 
                        style="font-size:1.4vw">
                </p>
                <div class="col-4"></div>
                <p class="col-8 row">
                    <label class="col-6" for="id_confirm_password" style="font-size:1.4vw"
                        >Confirmer Password:</label>
                    <input class="col-6" type="password" name="confirm_password" maxlength="64" 
                        required="" id="id_confirm_password" style="font-size:1.4vh">
                </p>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-8">    
                    <button class="btn btn-5 mx-3" type="submit" style="width: 12vw;
                    background: rgb(0, 208, 255)">Enregistrer</button>
                </div>    
            </div>
        </form>
        <div id="message">
            <h5 class="text-center" style="margin-top:2vh;">Le mot de passe doit contenir :</h5>
            <div class="row" style="font-size:1vw;width:100%;;margin-left:1vw">
                <p id="letter" class="invalid col-3">Une <b>minuscule</b></p>
                    <p id="capital" class="invalid col-3">Une <b>majuscule</b></p>
                    <p id="number" class="invalid col-3">Un <b>chiffre</b></p>
                    <p id="length" class="invalid col-3">Au moins <b>8 caracteres</b></p>
            </div>
        </div>
    </div>

{%  endblock %}
{%  load static %}
{%  block script %}    
    <script src="/static/JS/registerform.js"></script>
    <script>
        window.screen.orientation.addEventListener("change", function() {
        document.getElementById("rotation").value="Oui"
        if (window.innerWidth > window.innerHeight) {
            document.getElementById("orientation").value="paysage"
        } else {
            document.getElementById("orientation").value="portrait"
        }
        document.forms["grille"].submit();
    }); 
    </script>
{%  endblock %}
