<!DOCTYPE html>
{%  extends "basepaysage.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Préenregistrez-vous sur le site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}
{% block style %}    
{%  endblock %}
{% block lateralgauche %}
<div style="font-family:'Raleway', cursive;font-weight:400;font-style:normal">
    <div style="display:flex">
        <img class="logo" id="id_logo" src="{% static 'icons/morpion.png' %}" 
            style="height: 4vw;width:4vw">
        <p align="center" style="font-family: 'Pacifico', cursive;font-size:4vh;
        font-weight:800;font-style: normal;margin-left:1vh">Ti_Point-Ti_Croix</p>
      </div>  
    <div style="width:100%;display:flex;flex-direction:column;align-items:center;margin-top:20vh">
        <a  align="center" id="btn-quitter2" class="btn btn-0" type="button" style="width:30vh;
                    font-size:3vh;background-color:rgb(0, 208, 255)" href="{% url 'accueil' %}"
                    >Retour à l'accueil</a>
    </div>
</div>
{%  endblock %}
{%  block content %}
<div class="col-12 border border-dark" style="font-family: 'Raleway', cursive;
    font-weight: 400;font-style: normal;font-size:2vw;height:100%">
    <div style="height: 10vh;"></div>
    <h1 class="text-center" style="font-size:2vw;">PréInscription</h1>
    <div style="height: 5vh;"></div>
    <h4 class="text-center" style="font-size:2vw;">Il vous faut un code de verification que vous recevrez dans votre boite email</h4>
    <h4 class="texterror text-center" style="color: red">{{ errorVerif }}</h4>
    <form id="grille" class="justify-content-center" method="post">
        {% csrf_token %}
        <div hidden>
            <input id="orientation" name="orientation" type="text" value="{{ orientation }}">
            <input id="rotation" name="rotation" type="text" value="Non">
        </div>
        <div class="row" style="font-size: 2vw;display:flex;justify-content:center;margin-top:2vh">
            <div class="col-2"></div>
            <p class="col-8 row">
                <label class="col-4" for="id_email" style="font-size:1.8vw">Email:</label>
                <input class="col-8" type="text" name="email" maxlength="150" id="id_email"
                style="font-size:1.8vw" required value="{{ email }}">
            </p>
            <div class="col-2"></div>
        </div>
        <div class="col-12" style="font-size:2vw;display:flex;justify-content:center;margin-top:2vh">
            <button class="btn btn-5 mx-4" style="width: 18vw;background: rgb(0, 208, 255);
                font-size:1.6vw" href="/" type="button" id="cancel">
                Annuler</button>
            <button class="btn btn-8 mx-4" style="width: 18vw;background: rgb(0, 208, 255);
                font-size: 1.6vw" type="submit">Demander code</button>
        </div>            
        <div class="col-2"></div>
    </form>
</div>
{%  endblock %}
{%  block script %}
    <script>
        document.getElementById("cancel").addEventListener('click', function(e) {
            e.preventDefault()
            document.location.href="{% url 'accueil' %}"
        })  
        window.screen.orientation.addEventListener("change", function() {
        document.getElementById("rotation").value="Oui"
        if (window.innerWidth > window.innerHeight) {
        document.getElementById("orientation").value="paysage"
        } else {
        document.getElementById("orientation").value="portrait"
        }
        document.forms["grille"].submit();
    });   
    </script>    
{%  endblock %}

