{%  extends "base.html" %}

{% block title %}
Ti_Point-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Préenregistrez-vous sur le site de jeu Ti-point_Ti-croix.">
{%  endblock %}
{%  load static %}

{% block style %}    
{%  endblock %}

{%  block content %}
<div class="col-10 border border-dark" style="font-family: 'Pacifico', cursive;
    font-weight: 400;font-style: normal">
    <div style="height: 10vh;"></div>
    <h1 class="text-center" style="margin-left: 18vw">PréInscription</h1>
    <div style="height: 5vh;"></div>
    <h4 class="text-center" style="margin-left: 15vw">Il vous faut un code de verification que vous recevrez dans votre boite email</h4>
    <h4 class="texterror text-center" style="color: red">{{ errorVerif }}</h4>
    <form  class="justify-content-center" method="post">
        {% csrf_token %}
        <br>
        <div class="row justify-content-center">
            <br>
            <br>
            <div class="col-5"></div>
            <p class="col-4 row">
                <label class="col-3" for="id_email" style="font-size: 1.5vw">Email:</label>
                <input class="col-8" type="email" name="email" maxlength="64" required
                style="font-size: 1vw" id="id_email">
            </p>
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-4" style="margin-left: 3vw">
                <br>
                <br>
                <button class="btn btn-5 mx-4" style="width: 8vw;background: rgb(0, 208, 255);
                    font-size:1vw;" href="/tipointticroix" type="button" id="cancel">
                    Annuler</button>
                <button class="btn btn-8 mx-4" style="width: 8vw;background: rgb(0, 208, 255);
                    font-size: 1vw;width: 8vw" type="submit">Demander code</button>
            </div>
            <div class="col-2"></div>

        </div>
    </form>
</div>
{%  endblock %}
{%  block script %}
    <script>
        document.getElementById("cancel").addEventListener('click', function(e) {
            e.preventDefault()
            document.location.href="{% url 'tipointticroix' %}"
        })  
    </script>    
{%  endblock %}

