<!DOCTYPE html>
{%  extends "basepaysage.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Vos statistiques au jeu Ti-point_Ti-croix contre des
 algorithmes de différents niveaux. Vue paysage">
{%  endblock %}
{%  load static %}
{% block style %}   
{%  endblock %}
{% block lateralgauche %}
<div style="font-family:'Raleway', cursive;font-weight:400;font-style:normal">
    <div style="display:flex">
    <img class="logo" id="id_logo" src="{% static 'icons/morpion.png' %}" 
        style="height: 4vw;width:4vw">
    <p align="center" style="font-family: 'Pacifico', cursive;font-size:1.8vw;
    font-weight:800;font-style: normal;margin-left:1vh">Ti_Point-Ti_Croix</p>
  </div> 
    <div style="width:100%;display:flex;flex-direction:column;align-items:center;margin-top:20vh">
        <a  align="center" id="btn-quitter2" class="btn btn-0" type="button" style="width:30vh;
                    font-size:3vh;background-color:rgb(0, 208, 255)" href="{% url 'accueil' %}"
                    >Retour à l'accueil</a>
    </div>
</div>
{%  endblock %}
{%  block content %}
<div class="col-12 border border-dark" style="font-family:'Raleway', cursive;font-weight:400;
    font-style:normal;font-size:1.6vw;margin-left:2vw;height:100vh;width:96%;overflow-y:auto;">
        <p class="text-center" style="font-size: 5vw">Statistiques</p>
        <form id="grille" method="post" >
            {% csrf_token %}
            <div hidden>
                <input id="orientation" name="orientation" type="text">
            </div>
        </form>
        <div align-center>
            <h1 style="text-align: center;font-size:2vw">
                Pourcentage de victoires par niveau de jeu</h1>
            <h1 style="text-align: center;font-size:3vw">
                {{ connec }}</h1>
        </div>
        <div>
            <center>
                <table border="2" style="margin-top:5vh;font-size:3vh">
                    <thead>
                        <tr >
                            <th  style="border: 2px solid black;text-align:center;width:15%">Niveau</th>
                            <th  style="border: 2px solid black;text-align:center;width:33%;color:blue">% victoires en bleu</th>
                            <th  style="border: 2px solid black;text-align:center;width:33%;color:red">% victoires en rouge</th>
                            <th  style="border: 2px solid black;text-align:center;width:15;color:black">total partie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr style="border: 2px black;">
                                <td style="border: 2px solid black;text-align:center;width:15%">{{ result.type }}</td>
                                <td style="border: 2px solid black;text-align:center;width:33%">{{ result.victoire_percentage_bleu|floatformat:2 }}%</td>
                                <td style="border: 2px solid black;text-align:center;width:33%">{{ result.victoire_percentage_rouge|floatformat:2 }}%</td>
                                <td style="border: 2px solid black;text-align:center;width:15%">{{ result.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>   
    </div>
{%  endblock %}

{%  block script %}
<script>
    // Click du joueur sur le bouton quitter
    window.screen.orientation.addEventListener("change", function() {
        if (window.innerWidth > window.innerHeight) {
            document.getElementById("orientation").value="paysage"
        } else {
            document.getElementById("orientation").value="portrait"
        }
        document.forms["grille"].submit();
    });
</script>
{%  endblock %}