<!DOCTYPE html>
{%  extends "baseportrait.html" %}
{% block title %}
Ti_Points-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Vos statistiques au jeu Ti-point_Ti-croix contre des
 algorithmes de  différents niveaux. Vue portrait">
{%  endblock %}
{%  load static %}
{% block style %}   
{%  endblock %}
{%  block content %}
    <form form id="grille" method="post">
        {% csrf_token %}
        <div hidden>
            <input id="orientation" name="orientation" type="text">
        </div>
        <div style="font-family:'Raleway', cursive;font-weight: 400;font-style: normal;
        height:3vh;width:100%;display:flex;flex-direction:column;align-items:center">
        <a  align="center" id="btn-quitter2" class="btn btn-0" type="button" style="width:30vw;
        font-size:3vw;background-color:rgb(0, 208, 255)" href="{% url 'accueil' %}"
        >Retour à l'accueil</a>
    </div>
    <div class="border border-dark" style="font-size:1.6vh;margin-left:2vw;margin-top:1vh;
    height:74vh;width:96%;font-family:'Raleway', cursive;font-weight: 400;
    font-style: normal" id="cadre">
    <p class="text-center" style="font-size: 5vh">Statistiques</p>
    
    <div  id="id_table">
        <div align-center>
            <h1 style="text-align: center">
                Pourcentage de victoires par niveau de jeu</h1>
            </div>
            <h1 style="text-align: center;font-size:3vh">
                {{ connec }}</h1>
            </div>
            <div>
                <center>
                    <table border="2" style="margin-top:5vh;font-size:2vh">
                        <thead>
                        <tr >
                            <th  style="border: 2px solid black;text-align:center;width:15%">Niveau</th>
                            <th  style="border: 2px solid black;text-align:center;width:33%;color:blue">% victoires en bleu</th>
                            <th  style="border: 2px solid black;text-align:center;width:33%;color:red">% victoires en rouge</th>
                            <th  style="border: 2px solid black;text-align:center;width:15;color:black">total partie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr style="border: 2px black;">
                                <td style="border: 2px solid black;text-align:center;width:15%">{{ result.type }}</td>
                                <td style="border: 2px solid black;text-align:center;width:33%">{{ result.victoire_percentage_bleu|floatformat:2 }}% ({{totalblue}})</td>
                                <td style="border: 2px solid black;text-align:center;width:33%">{{ result.victoire_percentage_rouge|floatformat:2 }}% ({{totalred}})</td>
                                <td style="border: 2px solid black;text-align:center;width:15%">{{ result.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </center>
            </div>
        </div>
    </div>
</form>
{%  endblock %}

{%  block script %}
<script>
    // Click du joueur sur le bouton quitter
    window.addEventListener('DOMContentLoaded', () => {
        let pied=document.getElementById("pied")
        let botom=pied.offsetTop+pied.offsetHeight
        pied.style.position="absolute"
        pied.style.bottom="0px"
        document.getElementById("cadre").style.height="100%"
    })
    window.screen.orientation.addEventListener("change", function() {
        if (window.innerWidth > window.innerHeight) {
            document.getElementById("orientation").value="paysage"
        } else {
        document.getElementById("orientation").value="portrait"
        }
        document.forms["grille"].submit();
    });
</script>
{%  endblock %}