{%  extends "base.html" %}

{% block title %}
Ti_Point-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Connectez-vous sur le site du jeu Ti-point_Ti-croix.">
{%  endblock %}
{% block style %}
{%  endblock %}

{%  block content %}
<div class="col-10 border border-dark" style="font-family: 'Pacifico', cursive;
    font-weight: 400;font-style: normal">
    
    <h1 style="text-align: center;margin-left: 5vw">jOUER SUR INTERNET</h1>
    <h6 class="texterror text-center" style="color: red">{{ errorLogin }}</h6>
    <div style="height: 5vh;"></div>
    <label id="ip">{{ ip }}</label>
    <label for="ip-server" style="margin-left: 2vw">IP du serveur <input 
        type="text" id="ip-server" name="serveur" style="width: 10vw;height: 1.5vw"></label>
</div>
{%  endblock %}
{%  block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        ip=document.getElementById("ip").textContent
        const chatSocket = new WebSocket('ws://'.concat(ip,':9000/ws/chat/'))
        
        chatSocket.onmessage = function(e) {
        alert("1")
    const data = JSON.parse(e.data);
    const message = data['message'];
    alert(message)
    // Handle incoming message
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
sendMessage("test ok")
alert("ok")
// Send message to server
function sendMessage(message) {
    chatSocket.send(JSON.stringify({
        'message': message
    }));
}
    
})
</script>
{%  endblock %}