{%  extends "base.html" %}

{% block title %}
Ti_Point-Ti_Croix
{%  endblock %}
{% block meta %}
<meta name="Ti-point_Ti-croix" content="Connectez-vous sur le site du jeu Ti-point_Ti-croix.">
{%  endblock %}
{% block style %}
{%  endblock %}

{%  block content %}
<div class="col-10 border border-dark" style="font-family: 'Pacifico', cursive;
    font-weight: 400;font-style: normal">
    
    <h1 style="text-align: center;margin-left: 5vw">jOUER SUR INTERNET</h1>
    <h6 class="texterror text-center" style="color: red">{{ errorLogin }}</h6>
    <div style="height: 5vh;"></div>
</div>
{%  endblock %}
{%  block script %}
<script>
    const io = require('socket.io')(3000);

io.on('connection', (socket) => {
    console.log('a user connected');
    socket.on('message', (msg) => {
        console.log('message: ' + msg);
    });
    socket.emit('message', 'Hello from server');
});
</script>    
{%  endblock %}
