{%  extends "base.html" %}

{% block title %}
Ti_Point-Ti_Croix
{%  endblock %}
{%  load static %}
{% block style %}
    
{%  endblock %}

{%  block content %}
    <div class="content row" style="height: 80%;">
        <div class="col-2 border border-dark ml-3" style="font-family: 'Pacifico', cursive;
            font-weight: 400;font-style: normal">
            <p class="text-center" style="font-size: 2vw">PARTIE</p>
            <form id="grille" method="post" action="http://localhost:8000/tipointticroix/">
                {% csrf_token %}
                <div id="x-jouer">
                    <table>
                        <tr>
                            <fieldset>
                                <legend style="font-size: 1.4vw">Voulez-vous commencer?</legend>
                                    <div>
                                        <label for="begin-yes" style="font-size: 1vw;
                                            margin-left: 1vw"><input type="radio" id="begin-yes" 
                                            name="check-begin" checked 
                                            style="width: 1vw;height: 1vw" value="Oui" />Oui</label>
                                    </div>
                                    <div>
                                        <label for="begin-no" style="font-size: 1vw;
                                            margin-left: 1vw"><input type="radio" id="begin-no" 
                                            name="check-begin" style="width: 1vw;height: 1vw" 
                                            value="Non" />Non</label>
                                    </div>
                            </fieldset>
                        </tr>
                    </table>
                    <button  id="btn-jouer" type="button" style="width: 12vh;font-size: 1.5vw;
                        margin-left: 4vw">Jouer</button>
                </div>
                <div id="x-board">
                    <div>
                        <label id="id-beginer" style="font-size: 1vw"></label>
                    </div>
                    <div>
                        <label style="font-size: 1.5vw" for="nb-tour">Tour :</label>
                        <label style="font-size: 1.5vw;width: 3vw" id="nb-tour" 
                        type="number">{{ tour }}</label>
                    </div>
                    <div>
                        <label id="avous" style="font-size: 1vw">A VOUS DE JOUER</label>
                    </div>
                    <div>
                        <label id="amoi" style="font-size: 1vw">JE REFLECHIT</label>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <div>
                        <label id="begin-id" type="text">{{ begin }}</label>
                        <input name="coupjoueur" id="coup-joueur" type="text" hidden>
                        <input id="id-sequence" type="array" value="{{ sequence }}">
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-8 row justify-content-center" id="id_table">
            <div class="col-1">
            </div>
            <div class="cadre align-self-midle m-auto col-10">
               <table class="m-auto" id="table" style="font-size: 2vh">
               </table>
           </div>
           <div class="col-1">
            </div>
        </div>
        <div class="col-2 border border-dark text-center" style="font-family: 'Pacifico', cursive;
            font-weight: 400;font-style: normal;font-size: 2vw">
            GOODIES
        </div>
    </div>
    
{%  endblock %}

{%  block script %}
        <script src="{% static 'JS/tipointticroix.js'%}"></script>
{%  endblock %}